html { overflow: auto; }
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, form, input, textarea, button, fieldset, img, legend, ul, ol, li, dl, dt, dd, th, td, div, a {font-size:100%; margin:0; outline:0 none; padding:0; border:0 none;}
body { font:12px/1.2 "Microsoft Yahei","微软雅黑"; color:rgb(51, 51, 51); text-align:left; background-color:#FFF;}
a { text-decoration:none; cursor:pointer; color:#333333; outline: none; }
ul,li { list-style:none;}
.fl { float: left;}
.fr { float: right;}
.clearfix { zoom:1; }
.clearfix:after { clear: both; content:""; display:block; height:0; visibility:hidden;}
.noime { ime-mode:disabled;}
.fixedbar { position: fixed; top: 0; left: 0; z-index: 9999;}



.backToTop {position:fixed;cursor: pointer;height:52px; width:52px;background:transparent;right:10px;bottom:10px;z-index:9999;}
.backToTop a {display:block;height:48px;width:48px;overflow: hidden;background:url(/src/images/scrollTop.png) no-repeat 0 0;}
.backToTop a:hover {background-position: -48px 0;}

/*滚动条美化 start*/
/* Turn on a 12x12 scrollbar */
::-webkit-scrollbar { width: 12px; height: 12px;}
/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment { display: block; }
/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement { display: none; }
/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:end:increment { display:none; }
/* Place The scroll up button at the up */
::-webkit-scrollbar-button:start:decrement { display:none; }
/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start { background-color: white; }
/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end { background-color: white; }
/* The thumb itself */
::-webkit-scrollbar-thumb:vertical { background-color: #8E8E8E; }
::-webkit-scrollbar-thumb:vertical:hover { background-color:#3B3B3B; }
/*滚动条美化 end*/