html{ overflow: auto;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input{margin:0;padding:0;border:0 none; outline:0; vertical-align: baseline;}
body { font-family: "微软雅黑"; font-size: 12px; color: #333; background-color: #FFF;}
ul,li { list-style: none;}
a { text-decoration: none;}
.clearfix:after { content: "."; display: block; height: 0; visibility: hidden; clear: both;}
.fl { float: left;}
.fr { float:right;}
.mask { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.5; filter: alpha(opacity=50);}

.le-content { width: 100%; position: relative;}
.navbar,.body-wrap { width: 960px;}
.body-wrap { margin: 0 auto; min-height: 500px; }

.le-header { height: 180px; overflow: hidden; background-color: #000; border-bottom: 3px #FFF solid;}
.le-iupload { position: relative; width: 960px; height: 180px; margin: 0 auto; background: url(/src/images/top_logo.png) #000 no-repeat scroll center bottom;}
.le-iupload a { position: absolute; bottom: 7px; right:260px; display: block; width: 120px; height: 29px;}
.le-img-iupload-btn { position: absolute; top: 130px; left: 55%;}

.mside { width: 420px; margin: 0 auto;}
.lside { padding: 3px; border: 1px #EEE solid; background-color: #FFF;}
.mside ul li,.rside ul li { float: left;  text-align: center; height: 30px; line-height: 30px; padding: 5px 0; margin: -5px 0;}
.mside ul li a,.rside ul li a { color: #EEE; display: block; width: 100%; height: 30px;}
.mside ul li:hover,.rside ul li:hover,li.selected { background-color: #444;}
.mside ul li:hover a,.rside ul li:hover a { color: #FFF;}
.mside ul li { width: 80px; }
.rside ul li { width:40px;}
.lside input { vertical-align: top; margin-right: -1px; float: left; border: 0 none; background-color: transparent; outline: none;}
input.sbox { height: 22px; line-height: 22px; width: 180px; font-weight: 800;}
input.sbtn { display: block; cursor: pointer; height: 28px; width: 36px; margin: -3px 0;}

.navbarwrap { width: 100%; background-color: #333;}
.navbar { position: relative; margin: 0 auto; padding: 5px 0; background-color: #333;}

/*waterfall start*/
.waterFall { display: block; width: 960px; margin: 0 auto; margin-top: 30px; position: relative; }
.col { float: left; }
.detectDiv { clear: both; text-align: center; color: #000; height: 32px; line-height: 32px; padding-bottom: 20px; }
.loading { display: inline-block; padding-left: 32px; background: url(/src/images/loading2.gif) 0 0 scroll transparent no-repeat; }
/*waterfall end*/
.iTop { padding: 7px 0 20px 0;}
.iMid { text-align: center; overflow: hidden; width: 420px;}
.iTop p { margin-bottom: 5px;}
.item { position: relative; padding: 7px 15px; width: 420px; background-color: #FFF; border: 1px #E1E1E1 solid; box-shadow: 3px 2px 5px #E1E1E1;}
.Es { position: absolute; top: 15px; right: 0px; display: block; width: 45px; background: url(http://ipic.tuita.cc/img/theme/theme_canon/temp_bg.png?v=1346141329) right -32px no-repeat;}
.Es:hover { background-color: #f1f1f1;}
.Es span.num { display: inline-block; padding: 0 7px; line-height: 20px; height: 20px; border: 1px #E1E1E1 solid; border-width: 1px 0 1px 1px;}
a.img { display: block; }
.item:hover { z-index: 999; box-shadow: 0 0 20px rgba(0,136,196,0.5); -webkit-transition: box-shadow 0.3s linear; -moz-transition: box-shadow 0.3s linear;}
.iTop img { float: left; }
.iTop p { margin-left: 40px; line-height: 1.2;}